<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div style="background-image: url(../static/image/pexels.webp);background-repeat: no-repeat;background-size: cover;height: 800px;width: 1250px;">
        <nav id="back">
            <ul>
                <a style="float: left; text-align: left;" id="div" href="{{url_for('home')}}"><button style="background-color: green; border-radius: 4px; margin-top: 2cm; width: 3cm; height: 1.5cm;"  type="submit">HOME</button></a>
                <a style="text-align: right;margin-left: 10px;" id="div1" href="{{url_for('home1')}}"><button style="background-color: green; border-radius: 4px; margin-top: 2cm; width: 3cm; height: 1.5cm;" type="submit">CHECK IT OUT</button></a>
            </ul>
            
        </nav>
        <h1 id="head">FISH WEIGHT PREDICTION</h1>

    </div>
    
</body>
</html>