<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div style="background-image: url(../static/image/pexel1.webp);background-repeat: no-repeat;background-size: cover;width: 1250px;height: 800px;">
        <nav id="bac">
            <ul>
                <a class="div" href="{{url_for('home')}}"><button style="background-color: green; border-radius: 4px; margin-top: 2cm; width: 3cm; height: 1.5cm;"  type="submit">HOME</button></a>
                <a class="div" href="{{url_for('home2')}}"><button style="background-color: green; border-radius: 4px; margin-top: 2cm; width: 3cm; height: 1.5cm;" type="submit">JEWELLERY</button></a>
                <a class="div" href="{{url_for('home3')}}"><button style="background-color: green; border-radius: 4px; margin-top: 2cm; width: 3cm; height: 1.5cm;" type="submit">FILL IT</button></a>
                <a class="div" href="{{url_for('home1')}}"><button style="background-color: green; border-radius:4px;margin-top: 2cm; width: 3cm; height: 1.5cm;"type="submit">REGISTER</button></a>
            </ul>
            
        </nav>
            <h1 id="head" style="text-align: center;">DIAMOND QUALITY CHECK</h1>
        

    </div>
</body>
</html>