<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div>
        <nav id="bac" style="padding-bottom: 900px; float: right; text-align: right;">
            <ul>
                <a class="div" href="{{url_for('home')}}"><button style="background-color: green; border-radius: 4px; margin-top: 1cm; margin-bottom: 2cm; padding-bottom: 10px; width: 3cm; height: 1.5cm; float: right;"  type="submit">HOME</button></a>
                <a class="div" href="{{url_for('home1')}}"><button style="background-color: green; border-radius: 4px; margin-top: 1cm; margin-bottom: 2cm; padding-bottom: 10px; width: 3cm; height: 1.5cm; float: right;" type="submit" >REGISTER</button></a>
               
            </ul>
        <h2 style="text-align: center; color: lightseagreen; text-decoration: underline; font-style: italic;">DIAMOND COLLECTIONS</h2>
        <div id="div1" style="text-align: center; margin-left: 500px; padding-right: 500px;">
            <img src="../static/image/pexel.jpeg" alt="" height="500px" width="800px">
        
        </div>
        <div id="div2">
            <img src="../static/image/pexel 3.webp" alt="" height="500px" width="800px">

        </div>
        <div id="div3" style="text-align: center; margin-left: 500px; padding-right: 500px;">
            <img src="../static/image/pexel 4.jpeg" alt="" height="500px" width="800px">

        </div>
        <div id="div4">
            <img src="../static/image/pexel 5.webp" alt="" height="500px" width="800px">

        </div>
        <div style="text-align: center; margin-left: 500px; padding-right: 500px;">
            <img src="../static/image/pexel 6.jpeg" alt="" height="500px" width="800px">
        </div>

    </div>
</body>
</html>