#head{
    color: wheat;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    padding-top: 100px;
}
#div1{
    text-align: right;
    
}
#main{
    text-align: center;
    /* margin-top: 100px; */
    padding-top: 100px;
}
#headline{
    color: darkmagenta;
    text-decoration: underline;
}