<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/tip.css">
</head>
<body>
    <div id="image" style="background-image: url(../static/image/img.jpg);">
        <form action="{{url_for('predict')}}" method="post" class="form">
        <h1 id="head">Prediction</h1>
        <input id="text" type="text" name="text" placeholder="enter your value"> <br><br>
        <input id="sub" type="submit" value="submit">
        </form>
        <h2>{{prediction_text}}</h2>

    </div>
    
</body>
</html>